<h1>Director #<%= @direct_id%> Details</h1>

<a href="/directors">Go back</a>

<hr>

<dl>
  <dt>Name</dt>
    <dd> <%= @direct_info.name %> </dd>
  <dt>Dob</dt>
    <dd> <%= @direct_info.dob %> </dd>
  <dt>Bio</dt>
    <dd> <%= @direct_info.bio %> </dd>
  <dt>Image</dt>
    <dd> <img src=<%= @direct_info.image %> style="width:250px;"> </dd>
  <dt>Created at</dt>
    <dd> <%= @direct_info.created_at %> </dd>
  <dt>Updated at</dt>
    <dd> <%= @direct_info.updated_at %> </dd>

</dl>

<hr>

<h2>Filmography</h2>

<table border="1;">
  <thead>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </thead>
  <tbody>
    <% @filmography.each do |film| %>
      <% x = Director.where({:id => film.director_id}).at(0).name %>
      <tr>
        <td><%= film.id%></td>
        <td><img src=<%= film.image%> style="width:250px;"</td>
        <td><%= film.title%></td>
        <td><%= film.year%></td>
        <td><%= x%></td>
        <td><a href="/movies/<%=film.id%>">Show details</a></td>
      </tr>
    <% end %>
  </tbody>

</table>
